app-weather-city-display {

    background-color: hsl(0, 0%, 98%);
    width: 100%;
    display: block;
    border: 1px solid lightgray;
    border-radius: .3rem;
    margin: 1rem 0;


    .spinner-border {
        text-align: center;
        margin: 2rem auto;
    }

    .small-text {
        font-size: .7rem;
    }

    ul.nav-tabs.nav {
        padding-left: 1rem;
    }

    .heading {
        padding: 0.5rem 1rem 0;
    }

    .tab-content {
        padding: 1rem;
        background: #fff;

        .current-weather {

            app-weather-image {
                display: block;
                background: linear-gradient(180deg, hsl(218, 100%, 95%), rgb(255, 255, 255) 100%);
                border-radius: .3rem;
                padding: 1rem;
                width: 15%;
                text-align: center;
                min-width: 9.5rem;

                img {
                    width: 100%;
                    min-width: 4rem;
                }
            }

            .stats-wrap {
                margin-left: 1rem;

                .temperature {
                    font-size: 2.2rem;
                }
            }
        }

        .five-day-forecast {
            .stats-wrap {
                margin-left: 1rem;
    
                .temperature {
                    font-size: 1.2rem;
                }

                .daily-metric {
                    font-size: 0.8rem;
                }
            }
        }

        .daily-forecast {
            background: linear-gradient(180deg, hsl(218, 100%, 95%), rgb(255, 255, 255) 100%);
            border-radius: .3rem;
            min-width: 11rem;
        }


    }
}
