<div class="container mt-3">

    <h4 class="mb-3 mt-5">The weather forecast app</h4>

    <ul ngbNav #nav="ngbNav"
        [(activeId)]="active"
        [destroyOnHide]="true"
        (navChange)="handleNavChange($event)"
        class="nav-tabs">

        <li [ngbNavItem]="1" [destroyOnHide]="true">

            <button ngbNavLink>Favorites</button>
            <ng-template ngbNavContent>


                <ngb-alert *ngIf="favCities.length === 0" class="mt-3" [type]="'info'" [dismissible]="false">There are 0 favorite cities!
                    <br>Add one by using the "Search" tab above.</ngb-alert>

                <div *ngFor="let city of favCities; let i = index; trackBy: trackByFn">

                    <app-weather-city-display
                        *ngIf="city && city.value"
                        [city]="city && city.value"
                        (removedFromFavorites)="fetchFavCities()">
                    </app-weather-city-display>
                </div>

            </ng-template>
        </li>

        <li [ngbNavItem]="2" [destroyOnHide]="true">
            <button ngbNavLink>Search</button>
            <ng-template ngbNavContent>

                <app-search (citySelected)="selectedCity = $event"></app-search>

                <app-weather-city-display
                    *ngIf="selectedCity"
                    [city]="selectedCity">
                </app-weather-city-display>

            </ng-template>
        </li>
    </ul>

    <nav [ngbNavOutlet]="nav"></nav>

</div>

<app-toasts aria-live="polite" aria-atomic="true"></app-toasts>
