/* You can add global styles to this file, and also import other style files */

/* Importing Bootstrap SCSS file. */
@import 'bootstrap/scss/bootstrap';

button.no-default-style {
    border: none;
    background: none;
    padding: 0;
    margin: 0;
}
